{% extends "layout.twig" %}
{% block html_title %}Contato - {{ parent() }}{% endblock %}
{% set nav_active = 'contrate' %}
{% block content -%}


<div id="banner-cursos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>


<div id="contato">

  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Entre em Contato!</h1>
      </div>
    </div>
    <div class="row">
      <h1>Obrigado!</h1>
    </div>
  </div>
</div>

{%- endblock %}
