@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";

body {
}

.close {
  top:    0px;
  right:  0px;
}

.main-panel>.content  {
  margin-top:10px;
}

.alert-dismissible .close {
  position: relative;
  top: -2px;
   right: 0px;
  color: inherit;
}
