{% extends "admin/layout.twig" %}
{% block html_title %}Administração - {{ parent() }}{% endblock %}
{% set nav_active = 'dashboard' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li class="active">Início</li>
</ol>
{% endblock %}

{% block content %}

<div class="main">
  <h3>Projeto F.A.P. Câncer.</h3>
  <p>Projeto desenvolvido pela Farol 360 para o cliente Fundação Waydyr Becker de Apoio ao Paciente com Câncer.</p>
  <p><strong>Versão Atual:</strong> {{ version.version }}</p>
  <p><strong>Etapa do Projeto:</strong> {{ version.stage }}</p>
  <p><strong>Data:</strong> {{ version.date }}</p>
  
  <p>Versão 0.8: 22/09/2019</p>
  <ul>
    <li>- Status de atendimentos;</li>
    <li>- edição de status de atendimentos na tela de detalhes;</li>

  </ul>

  <p>Versão 0.7: 21/09/2019</p>
  <ul>
    <li>- Ordem Alfabética na lista de atendimentos e pacientes;</li>
    <li>- email opcional no cadastro;</li>

  </ul>

  <p>Versão 0.5:</p>
  <ul>
    <li>- Cadastro de pacientes;</li>
    <li>- Cadastro de profissionais;</li>
    <li>- Cadastro de atendimentos;</li>

  </ul>

</div>

{% endblock %}
